@model CasoEstudio2.Models.Usuario

@{
    ViewData["Title"] = "Detalles del Usuario";
}

<h2>Detalles del Usuario</h2>

<div>
    <strong>Nombre de Usuario:</strong> @Model.NombreUsuario
</div>
<div>
    <strong>Nombre Completo:</strong> @Model.NombreCompleto
</div>
<div>
    <strong>Correo:</strong> @Model.Correo
</div>
<div>
    <strong>Teléfono:</strong> @Model.Telefono
</div>
<div>
    <strong>Rol:</strong> @Model.Rol.Nombre
</div>

<a href="@Url.Action("Index", "Usuarios")" class="btn btn-primary">Volver</a>
