@{
    ViewData["Title"] = "Usuarios";
}

<h2>Usuarios</h2>

<p>
    <a href="@Url.Action("Create", "Usuarios")" class="btn btn-success">Crear nuevo usuario</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre de Usuario</th>
            <th>Nombre Completo</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.NombreUsuario</td>
                <td>@usuario.NombreCompleto</td>
                <td>@usuario.Correo</td>
                <td>@usuario.Rol.Nombre</td>
                <td>
                    <a href="@Url.Action("Details", "Usuarios", new { id = usuario.Id })" class="btn btn-info">Detalles</a>
                    <a href="@Url.Action("Edit", "Usuarios", new { id = usuario.Id })" class="btn btn-warning">Editar</a>
                    <a href="@Url.Action("Delete", "Usuarios", new { id = usuario.Id })" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
